<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.sbx0.microservices.uno.mapper.GameResultMapper">

    <select id="listByGameRoomId" resultType="cn.sbx0.microservices.uno.entity.GameResultEntity">
        select id, room_id, user_id, round, ranking, create_time
        from game_result
        where room_id = #{id}
    </select>
    <select id="listByGameRoomCode" resultType="cn.sbx0.microservices.uno.entity.GameResultEntity">
        select id, room_id, user_id, round, ranking, create_time
        from game_result
        where room_id = (select id from game_room where room_code = #{roomCode})
        order by ranking
    </select>
</mapper>
